<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="LogTracker-DB" connectionString="Data Source=(local);Initial Catalog=LogTracker;Integrated Security=True;" />
  </connectionStrings>
  <appSettings>
    <add key="ShowSql" value="false" />
    <add key="SchemaOutputPath" value="C:\\tmp\\Schema.sql" />
  </appSettings>
</configuration>