@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1></h1>
    <p class="lead">Served as Web Api for Log tracking</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>First add user</h2>
        <p>
            with unique login name
        </p>
        <p></p>
    </div>
    <div class="col-md-4">
        <h2>Second install mobile apps </h2>
        <p>Ask Jeffrey for instruction</p>
        <p></p>
    </div>
    <div class="col-md-4">
        <h2>Log any activities</h2>
        <p>Use your phone to log your activities</p>
        <p></p>
    </div>
</div>